.media {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
  }

  .border {
    border: 'solid',
  }

  .fullHeightCard {
    height: 100%;
  }

  .card {
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
    border-radius: 15px;
    height: 100%;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
  }

  .overlay2 {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
  }

  .grid {
    display: flex;
  }

  .details {
    justify-content: space-between;
    margin: 1px 0 20px 3px;
  }

  .title {
    padding: 0 16px;
  }

  .cardActions {
    padding: 0 16px 8px 16px;
    display: flex;
    justify-content: space-between;
  }
  .button{
    border: none;
    opacity: 0.98;
    cursor: pointer;
  }